<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>PAT Registration</title>
<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
<!-- <link rel="stylesheet" th:href="@{css/app.css}" /> -->
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<script th:src="@{/resources/pwstrength.js}"></script>
</head>
<body>
    <div class="container">
    <div th:insert="common/header :: header"></div>
    <br>
        <div >
            <h1 class="bannerText">
				<span>Java Meetup Registration</span>
			</h1>
            <br/>
            <form action="/" method="POST" enctype="utf8" >
                <div class="form-group row" >
<!--                     <label for="firstName" class="col-sm-3" th:utext="#{label.user.firstName}">first</label> -->
                    <span class="col-sm-8"><input id="firstName" class="form-control" name="firstName" value="" placeholder="First Name" required="required"/></span>
                    <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    
                </div>
                <div class="form-group row">
<!--                     <label for="lastName" class="col-sm-3" th:utext="#{label.user.lastName}">last</label> -->
                    <span class="col-sm-8"><input id="lastName" class="form-control" name="lastName" value="" placeholder="Last Name" required="required"/></span>
                    <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    
                </div>
                <div class="form-group row">
<!--                     <label for="email" class="col-sm-3" th:utext="#{label.user.email}">email</label> -->
                    <span class="col-sm-8"><input id="email" type="email" class="form-control" name="email" value="" placeholder="Email" required="required"/></span>
                    <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    
                </div>
                <div class="form-group row">
<!--                     <label for="password" class="col-sm-3" th:utext="#{label.user.password}">password</label> -->
                    <span class="col-sm-8"><input id="password" class="form-control" name="password" value="" type="password" placeholder="Password" required="required" autocomplete="new-password"/></span>
                    <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" placeholder="Retype Password" required="required" autocomplete="new-password"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="street" class="form-control" name="street" value="" placeholder="Street" required="required"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="houseNumber" class="form-control" name="houseNumber" value="" placeholder="House Number" required="required"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="zip" class="form-control" name="zip" value="" placeholder="Zip" required="required"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="city" class="form-control" name="city" value="" placeholder="City" required="required"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="additional" class="form-control" name="additional" value="" placeholder="Additional"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8">
                    	<select name="country" id="country" class="form-control" required="required">
  							<option value="DE">Germany</option>
						</select>
					</span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <div class="form-group row">
                    <span class="col-sm-8"><input id="phoneNumber" class="form-control" name="phoneNumber" value="" placeholder="Phone Number"/></span>
                    <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <br/> 
        </div>
    </div>

<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		register(event);
	});
	
// 	$(":password").keyup(function(){
// 		if($("#password").val() != $("#matchPassword").val()){
// 	        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
// 	    }else{
// 	    	$("#globalError").html("").hide();
// 	    }
// 	});
	
// 	options = {
// 		    common: {minChar:8},
// 		    ui: {
// 		    	showVerdictsInsideProgressBar:true,
// 		    	showErrors:true,
// 		    	errorMessages:{
// 		    		  wordLength: /*[[#{error.wordLength}]]*/,
// 		    		  wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
// 		    		  wordSequences: /*[[#{error.wordSequences}]]*/,
// 		    		  wordLowercase: /*[[#{error.wordLowercase}]]*/,
// 		    		  wordUppercase: /*[[#{error.wordUppercase}]]*/,
// 		    	          wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
// 		    		  wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
// 		    		}
// 		    	}
// 		};
// 	 $('#password').pwstrength(options);
});

function register(event){
	event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
//     if($("#password").val() != $("#matchPassword").val()){
//     	$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
//     	return;
//     }
    var formData= $('form').serialize();
    $.post($(location).attr('protocol') + "//" + $(location).attr('host') + "/api/v1/registration",formData ,function(data){
        if(data.message == "success"){
            alert("Registration Successful!");
        }
        
    })
    .fail(function(data) {
//         if(data.responseJSON.error.indexOf("MailError") > -1)
//         {
//             window.location.href = serverContext + "emailError.html";
//         }
        if(data.responseJSON.error == "EmailAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
//         else if(data.responseJSON.error.indexOf("InternalError") > -1){
//             window.location.href = serverContext + "login?message=" + data.responseJSON.message;
//         }
        else{
        	var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
            	if (item.field){
            		$("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
            	}
            	else {
            		$("#globalError").show().append(item.defaultMessage+"<br/>");
            	}
               
            });
        }
    });
}

</script>
</body>

</html>
